.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 1.5rem;
}

.auth-card {
  width: 100%;
  max-width: 480px;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05) !important;

  mat-card-header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    text-align: center;
    .mat-mdc-card-header-text { margin: 0; }
    mat-card-title { font-size: 1.8rem; font-weight: 700; color: #1a1a1a; }
  }
}

.full-width { width: 100%; }
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 12px; 
  @media (max-width: 600px) { grid-template-columns: 1fr; }
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  .avatar-wrapper {
    position: relative;
    width: 85px;
    height: 85px;
  }

  .avatar-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f1f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border: 2px dashed #dee2e6;
    transition: 0.2s;

    &:hover { border-color: var(--mat-sys-primary); background: #e9ecef; }
    &.error-border { border-color: #f44336; border-style: solid; }
    img { width: 100%; height: 100%; object-fit: cover; }
    mat-icon { font-size: 28px; width: 28px; height: 28px; color: #adb5bd; }
  }

  .remove-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 5;
    transform: scale(0.7);
  }

  .avatar-error-space {
    height: 20px;
    margin-top: 4px;
    mat-error { font-size: 0.75rem; }
  }
}



.submit-btn {
  height: 50px;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 0.5rem;
  background-color: red;
}

.auth-footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  a { color: #212529; font-weight: 700; text-decoration: none; &:hover { text-decoration: underline; } }
}