<mat-card class="report-card" [class.resolved]="report().resolved">
  <div class="header">
    <app-user-avatar [user]="report().reporter" [showName]="true" [time]="report().createdAt">
    </app-user-avatar>

    <div class="meta">
      <span class="action-text">
        reported a
        <strong>
          {{ report().type === 'user' ? 'User' : 'Post' }}
        </strong>
      </span>
    </div>

    <span class="status" [class.pending]="!report().resolved">
      <mat-icon>
        {{ report().resolved ? 'check_circle' : 'hourglass_top' }}
      </mat-icon>
      @if (!isHandset()) {
        {{ report().resolved ? 'Resolved' : 'Pending' }}
      }
    </span>
  </div>

  <div class="reason">
    <mat-icon>report</mat-icon>
    <p>{{ report().reason }}</p>
  </div>

  <div class="actions">
    <button mat-stroked-button (click)="onViewTarget.emit(report())">
      <mat-icon>visibility</mat-icon>
      View {{ report().type === 'user' ? 'User' : 'Post' }}
    </button>

    @if (!report().resolved) {
      <button mat-flat-button color="primary" (click)="confirmResolveReport()">
        <mat-icon>check</mat-icon>
        Resolve
      </button>
    }

    <button mat-icon-button color="warn" class="danger" (click)="confirmDeleteReport()">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>
</mat-card>
