<mat-card class="report-card" [class.resolved]="report().resolved">

  <!-- Header -->
  <div class="header">
    <app-user-avatar
      [user]="report().reporter"
      [showName]="true">
      
    </app-user-avatar>

    <div class="meta">
      <span class="action-text">
        reported a
        <strong>
          {{ report().type === 'post' ? 'Post' : 'User' }}
        </strong>
      </span>

      <!-- <span class="time">
        {{ report().createdAt | date:'short' }}
      </span> -->
    </div>

    <span class="status" [class.pending]="!report().resolved">
      <mat-icon>
        {{ report().resolved ? 'check_circle' : 'hourglass_top' }}
      </mat-icon>
      {{ report().resolved ? 'Resolved' : 'Pending' }}
    </span>
  </div>

  <!-- Reason -->
  <div class="reason">
    <mat-icon>report</mat-icon>
    <p>{{ report().reason }}</p>
  </div>

  <!-- Actions -->
  <div class="actions">
    <button
      mat-stroked-button
      (click)="onViewTarget.emit(report())">
      <mat-icon>visibility</mat-icon>
      View {{ report().type === 'post' ? 'Post' : 'User' }}
    </button>

    @if (!report().resolved) {
      <button
        mat-flat-button
        color="primary"
        (click)="onResolve.emit(report().id)">
        <mat-icon>check</mat-icon>
        Resolve
      </button>
    }

    <button
      mat-icon-button
      color="warn"
      (click)="onDelete.emit(report().id)">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>

</mat-card>
