POSTGRES_DB=auth_db
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=auth_pass
JWT_SECRET=my-very-strong-secret-key-that-is-at-least-64-chars-long!!!
INTERNAL_SERVICE_SECRET=my-very-strong-secret-key-that-is-at-least-64-chars-long???
GATEWAY_API=http://api-gateway:8080

CLOUDINARY_CLOUD_NAME=wordium-cloud # this info are demo use your own cloudinary secrests
CLOUDINARY_API_KEY=3533171382658
CLOUDINARY_API_SECRET=PJP-Fcl_ajZDFIRRP0BT0yplS