<div class="feed-container">
  <app-feed-skeleton *ngIf="loading$ | async"></app-feed-skeleton>
  <app-blog-editor></app-blog-editor>
  <div class="posts-list">
    <article class="card feed-post" *ngFor="let post of posts$ | async; trackBy: trackByPostId">
      <div class="post-header">
        <app-user-profile
          size="md"
          [showEmail]="false"
          [showName]="true"
          [user]="post.actor"
          [showTime]="true"
          [time]="post.createdAt"
        ></app-user-profile>
      </div>

      <div class="post-content">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>

        <div class="post-images" *ngIf="post.images.length">
          <img *ngFor="let img of post.images" [src]="img.url" class="post-image" />
        </div>
      </div>

      <div class="post-footer post-stats">
        <span><i class="bi bi-heart"></i> {{ post.likesCount }}</span>
        <span><i class="bi bi-chat-left-text"></i> {{ post.commentsCount }}</span>
        <span class="text-danger"><i class="bi bi-flag"></i> {{ post.reportsCount }}</span>
      </div>
    </article>

    <!-- Sentinel always in DOM -->
    <div #sentinel class="sentinel"></div>

    <div class="loading-more" *ngIf="loadingMore$ | async">
      <div class="spinner-border text-primary" role="status" style="width: 2.5rem; height: 2.5rem">
        <span class="visually-hidden">Loading more...</span>
      </div>
    </div>

    <div class="end-of-feed" *ngIf="!(hasMore$ | async)">
      <p>You're all no more posts</p>
    </div>
  </div>
</div>
