<div class="feed-container">
  <app-blog-editor></app-blog-editor>
  @if (loading()) {
  <app-feed-skeleton></app-feed-skeleton>
  }

  <div class="posts-list">
    @for (post of posts(); track post.id) {
    <app-post-card [post]="post" [showContent]="false" (open)="goToPost($event)" />
    }

    <!-- Infinite scroll sentinel -->
    <div #sentinel class="sentinel"></div>

    @if (loadingMore()) {
    <div class="loading-more text-center my-3">
      <div class="spinner-border text-primary" role="status" style="width: 2.5rem; height: 2.5rem">
        <span class="visually-hidden">Loading more...</span>
      </div>
    </div>

    } @if ( posts().length == 0) {
    <app-empty-state
      icon="bi-journal-text"
      title="No Blogs Yet"
      description="You've to craete  New blogs"
    >
    </app-empty-state>
    } @if (!hasMore() && posts().length > 0) {
    <app-empty-state
      icon="bi-journal-text"
      title="You're all caught up"
      description="You've reached the end of the feed. New posts will appear here when available."
    >
    </app-empty-state>
    }
  </div>
</div>
