@if (user) {
  <div class="user-profile" [class]="size">
    <div class="avatar">
      @if (hasAvatar) {
        <img [src]="user.avatar" alt="avatar" />
      } @else {
        <span class="avatar-fallback">
          {{ initial }}
        </span>
      }
    </div>

    <div class="info">
      @if (showName) {
        <div class="username">{{ user.username }}</div>
      }

      @if (showEmail) {
        <div class="email">{{ user.email }}</div>
      }

      @if (showTime) {
        <div class="email">{{ time | timeAgo }}</div>
      }
    </div>
  </div>
}
