.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;

    /* Optional: hover effect */
    //   &:hover {
    //     background-color: rgba(0, 0, 0, 0.04);
    //     border-radius: 8px;
    //   }

    /* Avatar image */
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 8px;
        border: 1px solid #ccc;
        /* subtle border */
    }

    .profile-button{
        background: none;
        border: none;
    }

    /* Name and role container */
    // .user-info {
    //     display: flex;
    //     flex-direction: column;
    //     line-height: 1;

    //     .name {
    //         font-weight: 500;
    //         color: #333;
    //     }

    //     .role {
    //         font-size: 12px;
    //         color: #666;
    //     }
    // }

    /* Material icon for dropdown */
    mat-icon {
        margin-left: 4px;
        font-size: 20px;
        color: #666;
    }

  

    // button.mat-button {
    //     text-transform: none;
    //     /* keep name normal case */
    //     padding: 4px 8px;
    //     min-width: 0;
    // }
}