@use './styles/variables';
@use './styles/themes';
@use './styles/mixins';
@use './styles/auth.scss';

html,
body {
  height: 100%;
  margin: 0;
  background: var(--color-bg-default);
  color: var(--color-text-primary);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}