// :host {
//   display: flex;
//   justify-content: center; /* horizontal center */
//   align-items: flex-start; /* vertical alignment */
//   background: #f8f9fa;
//   min-height: 100vh;
//   padding: 2rem 1rem;
// }

.post-detail {
  width: 100%;
  margin: 0% auto;
  height: 85dvh;
  max-width: 900px;
  overflow-y: scroll;
}

.post-detail::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
