// :host {
//   display: flex;
//   justify-content: center; /* horizontal center */
//   align-items: flex-start; /* vertical alignment */
//   background: #f8f9fa;
//   min-height: 100vh;
//   padding: 2rem 1rem;
// }

.post-detail {
  width: 100%;
  margin: 0% auto;
  height: fit-content;
  max-width: 900px; /* limits the width */
}
