<div class="feed-skeleton">
  <div
    class="card border-0 shadow-sm mb-3 w-50 m-auto"
    *ngFor="let _ of [].constructor(count)"
  >
    <div class="card-body">
      <div class="d-flex align-items-center mb-3">
        <div class="skeleton avatar"></div>
        <div class="ms-3 flex-grow-1">
          <div class="skeleton line w-50 mb-2"></div>
          <div class="skeleton line w-25"></div>
        </div>
      </div>

      <div class="skeleton line w-100 mb-2"></div>
      <div class="skeleton line w-100 mb-2"></div>
      <div class="skeleton line w-75"></div>
    </div>
  </div>
</div>
