<mat-card class="post-card" [class.detail-mode]="mode() === 'detail'" (click)="handleNavigate()">
  @if (isConfirmingDelete()) {
    <div class="card-overlay confirm-delete" (click)="$event.stopPropagation()">
      <div class="overlay-content">
        <mat-icon color="warn">delete_forever</mat-icon>
        <h3>Delete this post?</h3>
        <p>This action cannot be undone.</p>
        <div class="overlay-actions">
          <button mat-button (click)="cancelDelete()">Cancel</button>
          <button mat-flat-button color="warn" class="danger" (click)="executeDelete()">
            Delete
          </button>
        </div>
      </div>
    </div>
  }

  @if (isConfirmingCommentDelete()) {
    <div class="card-overlay confirm-delete" (click)="$event.stopPropagation()">
      <div class="overlay-content">
        <mat-icon color="warn">delete_forever</mat-icon>
        <h3>Delete this comment?</h3>
        <p>This action cannot be undone.</p>
        <div class="overlay-actions">
          <button mat-button (click)="cancelCommentDelete()">Cancel</button>
          <button mat-flat-button color="warn" class="danger" (click)="DeleteComment()">
            Delete
          </button>
        </div>
      </div>
    </div>
  }

  @if (isConfirmingReport()) {
    <div class="card-overlay confirm-delete" (click)="$event.stopPropagation()">
      <div class="overlay-content">
        <h3>Reporting.. this post?</h3>
        <p>This action cannot be undone.</p>
        <div class="overlay-actions">
          <button mat-button (click)="cancelReport()">Cancel</button>
          <button mat-flat-button class="danger" (click)="submitReport()">Report</button>
        </div>
      </div>
    </div>
  }

  @if (isReporting()) {
    <div class="card-overlay report-flow" (click)="$event.stopPropagation()">
      <div class="overlay-content">
        @if (!reportingTarget()) {
          <p>What would you like to report?</p>
          <div class="target-selector">
            @for (opt of reportOptions(); track opt.id) {
              <button mat-stroked-button (click)="selectReportTarget(opt.id, opt.type)">
                {{ opt.label }}
              </button>
            }
            <button mat-flat-button (click)="cancelReport()">Cancel</button>
          </div>
        } @else {
          <p>
            Reporting <strong>{{ reportingTarget()?.type }}</strong
            >. Why?
          </p>
          <mat-form-field appearance="outline" class="full-width">
            <textarea
              matInput
              [(ngModel)]="reportReason"
              placeholder="Describe the issue..."
              rows="1"
            ></textarea>
          </mat-form-field>
          <div class="overlay-actions">
            <button mat-flat-button (click)="cancelReport()">Cancel</button>

            <button
              mat-button
              [disabled]="!reportReason().trim()"
              class="danger"
              (click)="confirmReport()"
            >
              Report
            </button>
          </div>
        }
      </div>
    </div>
  }

  <mat-card-header>
    <app-user-avatar
      [user]="post().actor"
      [action]="'profile'"
      [size]="'sm'"
      [showName]="true"
      [time]="post().createdAt"
    ></app-user-avatar>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="postMenu" (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>

  <div class="card-body">
    <h2 class="post-title">{{ post().title }}</h2>
    @if (mode() !== 'admin') {
      <div class="content-wrapper" [class.teaser-mode]="mode() === 'feed'">
        <mat-card-content
          class="markdown-body content-inner"
          [innerHTML]="post().content | safeHtml | async"
        >
        </mat-card-content>

        @if (mode() === 'feed' || mode() === 'profile') {
          <div class="read-more-overlay">
            <button mat-flat-button class="read-more-btn">Read more</button>
          </div>
        }
      </div>
    }
  </div>

  <mat-card-actions align="start">
    <button
      mat-button
      (click)="handleReact(post().id); $event.stopPropagation()"
      [class.active-btn]="post().isLiked"
    >
      <mat-icon>{{ post().isLiked ? 'favorite' : 'favorite_border' }}</mat-icon>
      <span class="counter">{{ post().likesCount }}</span>
    </button>
    <button mat-button>
      <mat-icon>chat_bubble_outline</mat-icon>
      <span class="counter">{{ post().commentsCount }}</span>
    </button>

    <span class="spacer"></span>

    @if (isAdmin() && mode() === 'admin') {
      <mat-icon>
        {{ post().isFlagged ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    }

    @if (isAdmin()) {
      <button
        mat-icon-button
        (click)="isReporting.set(true); $event.stopPropagation()"
        matTooltip="Quick Report"
      >
        <mat-icon>outlined_flag</mat-icon>
      </button>
      <span>{{ post().reportsCount }}</span>
    }
  </mat-card-actions>

  @if (mode() === 'detail') {
    <mat-divider></mat-divider>

    <div class="comments-section" (click)="$event.stopPropagation()">
      <div class="comment-input-container">
        <mat-form-field appearance="outline" class="full-width">
          <textarea
            matInput
            placeholder="Write a comment..."
            [(ngModel)]="newCommentText"
            rows="1"
            (keydown.enter)="submitComment(); $event.preventDefault()"
          ></textarea>
          <button
            mat-icon-button
            matSuffix
            (click)="submitComment()"
            [disabled]="!newCommentText().trim()"
          >
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="comments-list">
        @for (comment of comments; track comment.id) {
          <div class="comment-item">
            <div class="comment-left">
              <app-user-avatar
                [user]="comment.actor"
                size="sm"
                [showName]="true"
                [time]="comment.createdAt"
              ></app-user-avatar>

              <div class="comment-content">
                {{ comment.content }}
              </div>
            </div>

            @if (comment.actor.id === user().id || isAdmin()) {
              <div class="comment-actions">
                <button
                  mat-menu-item
                  class="danger-item"
                  (click)="confirmCommentDelete(comment.id)"
                >
                  <mat-icon color="warn">delete_outline</mat-icon>
                </button>
              </div>
            }
          </div>
        }

        @if (isLoadingComments()) {
          <div class="loader">
            <mat-spinner diameter="30"></mat-spinner>
          </div>
        } @else if (hasMoreComments() && !commentsLastPage) {
          <button mat-button class="load-more" (click)="loadMoreComments()">
            Load more comments
          </button>
        } @else if (commentsLastPage) {
          <div class="no-more-comments">
            You’ve reached the end 💭
            <span>Be the first to add a new comment.</span>
          </div>
        }
      </div>
    </div>
  }
</mat-card>

<mat-menu #postMenu="matMenu" xPosition="before">
  @if (!canDelete() || isAdmin()) {
    <button mat-menu-item (click)="isReporting.set(true)">
      <mat-icon>flag</mat-icon>
      <span>Report Post</span>
    </button>
  }
  @if (canDelete()) {
    <button mat-menu-item class="danger-item" (click)="confirmDelete()">
      <mat-icon color="warn">delete_outline</mat-icon>
      <span>Delete Post</span>
    </button>
  }

  @if (isAdmin()) {
    <button mat-menu-item (click)="handleVisibility()">
      <mat-icon>
        {{ post().isFlagged ? 'visibility_off' : 'visibility' }}
      </mat-icon>
      <span>{{ post().isFlagged ? 'Unhide Post' : 'Hide Post' }}</span>
    </button>
  }
</mat-menu>
