<form [formGroup]="form" (ngSubmit)="login()" class="login-form">

  <h2>Login</h2>

  <!-- Email Field -->
  <div class="field">
    <label>Email or Username</label>
    <input type="text" formControlName="identifier"/>
    <small *ngIf="form.controls.identifier.touched && form.controls.identifier.invalid">
      Email or username is required
    </small>
    <!-- <small *ngIf="fieldErrors.identifier">{{ fieldErrors.identifier[0] }}</small> -->
  </div>


  <!-- Password Field -->
  <div class="field">
    <label>Password</label>
    <input type="password" formControlName="password" />
    <small *ngIf="form.controls.password.touched && form.controls.password.invalid">
      Password is required
    </small>
  </div>

  <div *ngIf="errorMessage as error" class="error">
    {{ error }}
  </div>

  <button type="submit" [disabled]="form.invalid">
    Login
  </button>

</form>
