spring:
  application:
    name: auth
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
     ddl-auto: update   # options: validate, update, create, create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 3000

eureka:
  client:
    register-with-eureka: false # dev mode only 
    fetch-registry: false
    # service-url:
    #   defaultZone: http://localhost:8761/eureka
