POSTGRES_DB=auth_db
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=auth_pass
# POSTGRES_HOST=    # if you need to connect to db from local host use this if it service is in docker use the service name to connect 