.dark-theme {
  --color-primary: #90caf9;
  --color-primary-contrast: #121212;

  --color-bg-default: #121212;
  --color-bg-paper: #1e1e1e;

  --color-text-primary: #e0e0e0;
  --color-text-secondary: #bdbdbd;
}